librosa==0.8.1
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
numpy==1.20.0
matplotlib==3.7.0
opencv-python==4.7.0.72
pandas==1.1.0
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.1
requests==2.22.0
pytorch_lightning==1.9.4
rtree==1.0.1
environ-config==23.1.0
ray[tune]==1.11.0
protobuf==3.20.0
bayesian-optimization==1.4.2
seaborn==0.12.2